<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <style>

    body {
      font-family: Sans-serif;
      text-align: center;
    }

    .text {
      color:darkslategrey;
    }

    .font-big {
      font-size: 18px;
    }

    .font-small {
      font-size: 14px;
    }

  </style>

  <title>Welcome to Hortify</title>
</head>
  <body>
    <br/><br/>
    <div>
      <p class="text font-big">Thanks for signing up to <b>Hortify</b>!</p>
      <p class="text font-small">To get started, click the link below to confirm your account.</p>
      <a class="" href="<%= url %>">Confirm your account</a>
      <br/>
      <p class="text font-small">If you didn’t register a user account on Hortify, you can ignore this message. Someone probably typed in your email address by accident.</p>
    </div>
    <br/><br/>
    <a class="font-small" href="http://hortify.com">&copy; Hortify</a>
    <br/><br/>
    <p class="text font-small">Please do not reply to this email address as it is not being monitored by a human.</p>
  </body>
</html>
